/* font */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
/* Base */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    text-transform: none;
}

body {
    overflow: hidden;
}

.main {
    padding: 0px !important;
}

.sectionTitle {
    color: white;
    font-size: 40px;
    text-align: center;
}

.sectionTitleDark {
    color: black;
    font-size: 40px;
    text-align: center;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    margin-left: 20px;
}

@media (min-width: 1000px) {
    .hidden-sm {
        display: none;
    }


}

@media (max-width: 1000px) {
    .hidden-lg {
        display: none;
    }

    .contentMainTitle {
        font-size: 20px !important;
    }


}

/*Button contact us*/
.buttonContactUs {
    position: fixed;
    right: 30px;
    bottom: 40px;
}

.buttonContactitem {
    background: #013668 !important;
    color: white !important;
}

.buttonContact {
    background: #013668 !important;
    color: white !important;
    box-shadow: -2px 1px 23px 2px #19b5fe !important;
}

/* Navbar */
.appBarDefault {
    background: #013668 !important;
}

.appBarItEducation {
    background: #013668 !important;

}

.desctopHidden {

}

.links {
    font-size: 17px !important;
}

@media (max-width: 700px) {
    .desctopHidden {
        visibility: hidden;
    }
}

/* Carousel */
.sheet {
    position: absolute;
}

.carousel .container {
    margin-left: auto;
    margin-right: auto;
}

.caruselLayout {
    margin-bottom: 150px !important;
}

.caroselText {
    font-weight: 600 !important;
    color: white;
    font-size: 3rem !important;
}

.caroselButton {
    margin-bottom: 50px !important;
    background: #013668 !important;
    color: white !important;
    padding: 1.150rem 2rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0;
}

.caroselButton:hover {
    color: #013668 !important;
    background: white !important;
    transition: .6s;
}

@media (max-width: 900px) {
    .caroselText {
        font-size: 2rem !important;
    }
}

/* About us */
.aboutUs {
    background: #013668;
    height: 100%;
    padding: 40px;
}

.contentMainTitle {
    color: white;
    font-size: 30px;
}

.contentText {
    font-size: 18px;
    color: white;
}

.AboutUsButton {
    background: white !important;
    color: #013668 !important;
    padding: 1.150rem 2rem;
    font-size: 1rem;
    line-height: 1;
    margin-top: 20px;
    border-radius: 0;
}

.AboutUsButton:hover {
    background: white !important;
    color: black !important;
    transition: .6s;
}

@media (max-width: 700px) {
    .aboutUsImage {
        width: 280px;
    }

    .aboutUs {
        background: #013668;
        height: 100%;
        padding: 20px;
    }
}

/* Services */
.servicesText {
    font-size: 20px;
    color: #013668;
    margin-left: 30px;
}

.serviceItem {
    width: 400px;
    justify-content: center;
    display: flex;
}

.firstService {
    background: #013668;
    height: 400px;
}

.firstService .row {
    padding: 10px !important;
    margin: 0px !important;
}

.secondService {
    background: #19b5fe;
    height: 400px;
}

.secondService .row {
    padding: 10px !important;
    margin: 0px !important;
}

.mainCol {
    padding: 0px !important;
}

.serviceCardImage {
    height: 150px;
    width: 200px;
    align-items: center;
    align-content: center;
}

.serviceCardTitle {
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
}

.serviceCardText {
    font-size: .9375rem;
    line-height: 1.666;
    margin-bottom: 1.5625rem;
    color: white;
}

.firstServiceLayout {
    display: flex;
    margin-top: 50px;
}

.serviceButton {

}

.serviceButton {
    background: white !important;
    color: #19b5fe !important;
    padding: 1.150rem 2rem;
    font-size: 1rem;
    line-height: 1;
    margin-top: 20px;
    border-radius: 0;
}

.serviceButton:hover {
    background: white !important;
    color: black !important;
    transition: .6s;
}

.colInfo {
    margin-top: 40px;
    padding: 0px;
}

@media (max-width: 1000px) {
    .firstServiceLayout {
        display: block;
        justify-content: center;
        margin-top: 10px;
    }

    .colInfo {
        text-align: center;
        justify-content: center;
        padding: 30px !important;
    }

    .serviceButtonCard {
        display: flex;
        justify-content: center;
    }

    .firstService {
        height: 520px;
    }

    .secondService {
        height: 520px;
    }

    .colImage {
        justify-content: center;
        display: flex;
    }

    .serviceCardImage {
        height: 200px;
        width: 280px;
    }

    .colInfo {
        margin-top: 0px;
    }
}

/* Study abroad */
.imageContent {
    background: url("../assets/img/study.jpg");
    height: 100vh;
    background-size: cover;
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, .3);
    position: relative;
}

.imageContentIt {
    height: 100vh;
    width: 100%;
    background: url("https://thumb.tildacdn.com/tild6663-3337-4337-b866-316539333166/-/format/webp/--.jpg");
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, .5);
    opacity: 1;
}

.imageContentIt {
    background-color: #000;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.imgContent {
    left: 5%;
    position: absolute;
    top: 20%;
}


.icon-arrow {
    color: white !important;
    font-size: 5rem !important;
}

.imgContent .title-main {
    font-size: 3.8rem;
    line-height: 1.3;
    font-weight: 600;
    color: white;
}

.text-main {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 600;
    color: white;
}

.subtitle-item {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
}

.adjustement {
    border-left: 3px solid #013668;
    padding: 20px;
}

.timeline-dot {
    color: #013668;
}

.v-timeline {
    margin-left: -30px;
}

.timeline-content {
}

@media (max-width: 900px) {
    .studyAbroad {
        display: none;
    }

    .imageContent .title-main {
        font-size: 2.5rem !important;
    }

    .imageContent {
        height: 100vh;
        width: 100%;
        background: url("../assets/img/studyMedia.jpg");
    }

    .imageContentIt {
        height: 100vh;
        width: 100%;
        background: url("https://thumb.tildacdn.com/tild6663-3337-4337-b866-316539333166/-/format/webp/--.jpg");
    }
}

/*  FormAndQuestions  */
.questionFrom {
    background: #013668 !important;
    justify-content: center;
    margin: auto;
    border-radius: 0 !important;
    padding: 20px;
}

/*LanguageEducation*/
.imageContentLanguageEducation {
    height: 100vh;
    width: 100%;
    background: url("https://www.askideas.com/media/49/The-Reichstag-Building-With-Stained-Glass-Dome-Picture.jpg") center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, .5);
}

.title-secondary {
    font-size: 1.3rem;
    color: #013668;
}

.title-primary {
    font-size: 3.5rem;
}

.imgLeftSide {
    right: 10px;
    position: absolute;
}

.title-primary-1 {
    font-size: 2rem;
}

.imgContentLanguage {
    left: 5%;
    position: absolute;
    top: 5%;
}

.title-main {
    font-size: 3.8rem;
    line-height: 1.3;
    font-weight: 600;
    color: white;
}

@media (max-width: 1000px) {
    .imgContent .title-main {
        font-size: 2.8rem;
        line-height: 1.3;
        font-weight: 600;
        color: white;
    }

    .text-main {
        font-size: 1.5rem;
    }
}

/* Footer */
.footerCard {
    background: #013668 !important;
}

.map {
    width: 600px;
    height: 300px;
}

.v-footer {
    padding: 0px;
}

@media (max-width: 700px) {
    .map {
        width: 300px;
    }
}
